spring.application.name=
server.port=8080

spring.data.mongodb.uri=mongodb://<username>:<password>@localhost:27017/ai_dating?authSource=admin
spring.data.redis.host=
spring.data.redis.port=

logging.level.root=
logging.level.sql=
logging.level.java.net.http=debug
logging.level.web=debug
logging.level.org.springframework.ai.chat.client.advisor=debug

spring.ai.ollama.chat.model=
spring.ai.ollama.chat.options.temperature=0.75
spring.ai.ollama.chat.options.main-g-p-u=1
spring.ai.ollama.chat.options.num-thread=0
#spring.ai.ollama.system-prompt=

spring.ai.openai.base-url=
spring.ai.openai.api-key=
spring.ai.openai.chat.options.model=
spring.ai.openai.chat.options.temperature=0.75

spring.task.execution.pool.core-size=10
spring.task.execution.pool.max-size=30
spring.task.execution.pool.keep-alive=60
spring.task.execution.pool.queue-capacity=100
spring.task.scheduling.thread-name-prefix=ChatResponseExecutor-

spring.openapi.dev.url="http://127.0.0.1:8080"
spring.openapi.prod.url="https://www.notknownyet.com"

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

spring.cloud.aws.access.key.id=
spring.cloud.aws.secret.access.key=
spring.cloud.aws.region=
spring.cloud.aws.bucket=l

spring.json.profile.folder.name=profiles